@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #4338ca;
    --primary-lighter: #4f46e5;
    --primary-lightest: #6366f1;

    --secondary: #fbbf24;
    --secondary-lighter: #fcd34d;
    --secondary-lightest: #fde68a;

    --success: #4d7c0f;
    --success-lighter: #65a30d;
    --success-lightest: #84cc16;

    --danger: #b91c1c;
    --danger-lighter: #dc2626;
    --danger-lightest: #ef4444;

    --tertiary: #d2d2d3;

    --primary-background: #ffffff;
    --secondary-background: #F2F2F7;

    --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --tertiary: #2C2C2E;

        --primary-background: #000000;
        --secondary-background: #1C1C1E;

        --text-color: #ffffff;
    }
}

body {
    color: var(--text-color);
    background: var(--secondary-background);
}

nav {
    background: var(--primary-background);
}